*{
  font-family: sans-serif;
}
.contain{
  position: relative;
  top:100px;
  left:20%;
  border:1px solid rgb(204, 201, 201);
  border-radius: 10px;
  
  max-width: fit-content;
  height:270px;
  display:flex;
  flex-direction: column;
  padding-top: 50px;
}
div,button{
  margin:10px;
}
button{
  width:5rem;
  background-color: red;
  color:#f6f6f6;
  border-radius: 5px;
  padding:5px;
  border:none;
  cursor: pointer;
}
a{
  text-decoration:underline;
  color:rgb(226, 26, 26);
  font-weight: bold;
}
.username ,.passwrd{
  display:flex;
  flex-direction: column;
}
input{
  width:16rem;
}
.login{
  color:#c61212;
  font-size: 20px;
  font-weight: bold;
}
label{
  opacity:75%;
}
.error{
  color:red;
  font-size: 10px;
}